@import "./var.scss";

// 轻提示 toast
.toast {
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, .75);
  display: flex;
  justify-content: center;
  position: fixed;
  top: -60px;
  right: 0;
  left: 0;
  z-index: 100;

  .toast_box {
    padding: 10px 15px;
    font-size: 13px;
    color: $default_color_1;
    background: $default_color_5;
    border-radius: 3px;
    display: inline;
  }
}