// 重置
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* 重置【老板浏览器重置】 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 重置【项目需求添加重置】 */
a {
	color: inherit;
	text-decoration: none;
}

// 设置基础颜色
$headerBg: rgb(255, 46, 89);       // 头部背景色
$colorWhite: #fff;
$colorBlack: #000;
$colorBlackLight: rgb(43, 32, 32);
$colorRedDark: #e95451;            // 头部按钮深色
$colorRedLight: #ff3d83;           // 标题文字亮色
$colorGreen: rgb(112,207,22);      // 按钮颜色
$colorGreyLight: rgb(245, 245, 245);    // 背景灰
$colorGrey: #999;
$colorBlue: rgb(0, 123, 255);
$colorYellow: rgb(255, 238, 6);
$colorPurple: rgb(162, 23, 173);

// 文字溢出用省略号显示
@mixin textOverflowEllipsis {
  overflow: hidden; //超出的文本隐藏
  text-overflow: ellipsis; //溢出用省略号显示
  white-space: nowrap; //溢出不换行
}

// 按钮样式
@mixin icon {
  .icon {
    width: auto;
    height: 0.8rem;
    position: relative;
    top: 0.05rem;
    left: 0.05rem;
  }
}

// 文字颜色
.textWhite {
  color: $colorWhite;
}
.textRed {
  color: $colorRedDark;
}
