// 导入公共样式
@import "./base.scss";

// 背景
.pcBg {
  min-width: 100%;
  min-height: 100%;
  background-image: url("../images/pc/pc_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
// 头部
.pcHeader {
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  .content {
    height: 80px;
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
      }
      span {
        margin-left: 10px;
        // 小于1200就隐藏
        @media (max-width: 1199px) {
          display: none;
        }
      }
    }
    .active {
      display: flex;
      .btn {
        padding: 0 15px;
        margin: 0 5px;
        height: 40px;
        line-height: 40px;
        border-radius: 40px;
        background-color: rgba($color: #fff, $alpha: 0.2);
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}
// 操作区盒子
.pccontentbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  // 操作区内容
  .pcContent {
    margin-top: 10%;
    margin-left: 30%;
    // 小于 1200
    @media (max-width: 1199px) {
      margin-top: 0;
      margin-left: 0;
    }
    .downloadBox {
      display: flex;
      justify-content: flex-end;
      // 小于 850
      @media (max-width: 850px) {
        flex-direction: column;
      }
      .list {
        display: flex;
        padding-left: 30px;
        position: relative;
        // 小于 850
        @media (max-width: 850px) {
          margin-top: 40px;
        }
        .btn {
          font-size: 22px;
          padding: 0 20px;
          height: 50px;
          line-height: 50px;
          border-radius: 50px;
          background-color: $colorWhite;
          cursor: pointer;
          // 小于 850
          @media (max-width: 850px) {
            width: 170px;
            text-align: center;
          }
        }
        .iconBox {
          margin-left: 10px;
          width: 50px;
          height: 50px;
          border-radius: 5px;
          background-color: $colorWhite;
          background-size: 80%;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
          &:hover {
            &+:nth-child(3) {
              display: block;
            }
          }
        }
        .iconBlack {
          background-image: url("../images/iconfont/icon_qrcode_black.png");
        }
        .iconRed {
          background-image: url("../images/iconfont/icon_qrcode_red.png");
        }
        .qrcodeBox {
          width: 160px;
          height: 180px;
          background-color: $colorWhite;
          border-radius: 10px;
          position: absolute;
          top: 60px;
          right: 0;
          display: none;
          // 小于 850
          @media (max-width: 850px) {
            top: 0;
            text-align: center;
            left: 310px;
          }
          .qrcode {
            width: 140px;
            height: 140px;
            margin: 10px auto 0;
            background-image: url("../images/bg_default.png");
            background-repeat: no-repeat;
            background-position: center;
            background-color: #eee;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .text {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
          }
        }
      }
    }
    // 黄色文档
    .pcPrompt {
      margin-top: 20px;
      font-size: 16px;
      text-align: right;
      color: rgb(246, 255, 0);
      line-height: 30px;
      // 小于 600
      @media (max-width: 600px) {
        padding: 0 10px;
      }
    }
  }
}
// pc 端安装教程
.pInstall {
  display: none;
  // pc 端安装教程盒子
  .pInstallBox {
    width: 100%;
    height: auto;
    background-color: rgb(252, 252, 252);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    color: rgb(255, 87, 87);
    .content {
      width: 500px;
      height: auto;
      margin: 0 auto;
      text-align: center;
      .title {
        margin-top: 30px;
        font-size: 50px;
        font-weight: 900;
      }
      .question {
        font-size: 30px;
        font-weight: 900;
        margin-top: 10px;
      }
      .subTitle {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 900;
      }
      .lightTitle {
        font-size: 16px;
        font-weight: lighter;
      }
      img {
        width: 100%;
        margin-top: 20px;
      }
      .videoInstall {
        width: 480px;
      }
    }
    .closeBtn {
      width: 20px;
      height: 20px;
      position: fixed;
      top: 10px;
      right: 10px;
      background-image: url("../images/iconfont/icon_close.png");
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }
  }
}
