<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="x5-fullscreen" content="true">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=yes">
  <meta name="format-detection" content="telephone=yes">
  <meta name="keywords" content="关键字，关键字1，关键字2，关键字3，关键字4，关键字5，关键字6，关键字7，关键字8">
  <meta name="description" content="描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述！">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta name="keywords" content="名称">
  <meta name="description" content="名称">
  <meta name="x5-fullscreen" content="true">
  <link rel="shortcut icon" type="image/x-icon" href="resource/image/favicon.ico" />
  <!-- 用于tg和facebook自定义分享 -->
  <meta property="og:title" content="标题">
  <meta property="og:url" content="http://sunsimiao.rf.gd">
  <meta property="og:site_name" content="关键字，关键字1，关键字2，关键字3，关键字4，关键字5，关键字6，关键字7，关键字8">
  <meta property="og:description" content="描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述！">
  <meta property="og:image" content="resource/image/logo.png">
  <meta name="twitter:card" content="summary_large_image">
  <title>名称</title>
  <link rel="Shortcut Icon" href="./resource/image/favicon.ico">
  <link rel="Bookmark" href="./resource/image/favicon.ico">
  <link rel="stylesheet" href="./resource/css/main.css">
  <link rel="stylesheet" href="./resource/lib/swiper/swiper.min.css">
  <script src="./resource/lib/jquery.min.js"></script>
  <script src="./resource/lib/jquery.qrcode.min.js"></script>
  <script src="./resource/lib/clipboard.min.js"></script>
  <script src="./resource/lib/swiper/swiper.min.js"></script>
  <script src="./resource/js/utf.js"></script>
</head>

<body class="body" data-clipboard-text="默认粘贴板">
  <!-- pc端 -->
  <div class="pc">
    <video
      autoplay
      muted
      class="pc-bg-video"
    >
      <source src="./resource/video/web.mp4" type="video/mp4">
    </video>
    <div class="pc-contain">
      <div class="pc-header">
        <img class="pc-header-logo" src="./resource/image/logo-top.png" alt="名称" />
        <div class="pc-header-server">
          官方合作：
          <a target="_blank" href="">
            <img src="./resource/image/icon-potato.png" alt="土豆">
          </a>
          <a target="_blank" href="">
            <img src="./resource/image/icon-tg.png" alt="tg">
          </a>
        </div>
      </div>
      <div class="pc-center">
        <img src="./resource/image/img-title.png" alt="10年沉淀只做精品">
      </div>
      <div class="pc-bottom">
        <div class="pc-bottom-box">
          <div class="pc-bottom-download">
            <div class="pc-download-qrcode">
              <div id="pc-qrcode" class="pc-qrcode-inner"></div>
            </div>
            <div class="pc-bottom-download-box">
              <div class="pc-download-android"></div>
              <div class="pc-download-ios"></div>
              <p class="pc-download-prompt">
                安卓手机建议使用<br/>UC浏览器下载
              </p>
            </div>
          </div>
          <div class="pc-bottom-title-box">
            <p class="pc-bottom-title">
              安装提示：下载好安装包以后，请断开网络<br />
              由于行业原因，本APP会被某些杀毒软件认定为病毒，请大家放心下载使用，<br />
              本APP有广告和会员收益，安装本APP 不会对您的手机造成任何损害。
            </p>
          </div>
        </div>
        <div class="prompt">名称版权所有</div>
      </div>
    </div>
  </div>
  <!-- 移动端 -->
  <div class="mobile">
    <div id="mobile-bg-swiper" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./resource/image/mobile/bg-1.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./resource/image/mobile/bg-2.jpg" />
        </div>
        <div class="swiper-slide">
          <img src="./resource/image/mobile/bg-3.jpg" />
        </div>
      </div>
    </div>
    <div class="mobile-header">
      <img src="./resource/image/logo-top.png" />
    </div>
    <div class="mobile-content">
      <div class="mobile-center">
        <img src="./resource/image/img-title.png" />
      </div>
      <div class="mobile-bottom">
        <a target="_blank" href="https://www.google.com" class="mobile-bottom-btn android-btn">
          <img src="./resource/image/download-android.png" />
        </a>
        <div class="mobile-bottom-btn ios-btn">
          <img src="./resource/image/download-ios.png" />
        </div>
        <div class="mobile-bottom-server">
          官方合作：
          <a target="_blank" href="">
            <img src="./resource/image/icon-tg.png" />
          </a>
          <a target="_blank" href="">
            <img src="./resource/image/icon-potato.png" />
          </a>
        </div>
      </div>
      <div class="mobile-prompt-box">
        <a href="./android_poisoning.html" class="mobile-prompt-text">
          安装包报毒解决方案
        </a>
      </div>
    </div>
    <div class="mobile-download">
      <div class="mobile-download-back"></div>
      <div class="mobile-download-header">
        <img src="./resource/image/logo-top.png" />
      </div>
      <a target="_blank" href="https://www.google.com" class="mobile-download-btn">
        <img src="./resource/image/mobile/download-btn.png" />
      </a>
      <div class="mobile-download-list-title">
        <img src="./resource/image/mobile/list-1-title.png" alt="安装轻量版所需描述文件。此描述文件已通 过苹果官方认证，安全可靠。">
      </div>
      <div class="mobile-download-list-desc">
        <img src="./resource/image/mobile/list-1-desc.jpg" alt="">
      </div>
      <div class="mobile-download-list-title">
        <img src="./resource/image/mobile/list-2-title.png" alt="点击允许后，首先在桌面主屏幕找到 “设置” 进入设置点击“已下载描述文件”" />
      </div>
      <div class="mobile-download-list-desc">
        <img src="./resource/image/mobile/list-2-desc.jpg" alt="">
      </div>
      <div class="mobile-download-list-title">
        <img src="./resource/image/mobile/list-3-title.png" alt="最后按照提示一路点击右上角的“安装”或 “下一步” 即可完成安装">
      </div>
      <div class="mobile-download-list-desc">
        <img src="./resource/image/mobile/list-3-desc.jpg" alt="">
      </div>
      <div class="mobile-download-list-title">
        <img src="./resource/image/mobile/list-4-title.png" alt="如果您设置了锁屏密码，安装时需要输入锁屏 密码后才能继续">
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      // 粘贴板
      new ClipboardJS('.body');
      // 判断客户端
      let u = navigator.userAgent;
      let isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;
      let isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
      if (isAndroid) {
        $('.mobile-prompt-box').show();
        $('.android-btn').show();
      } else if (isIOS) {
        $('.ios-btn').show();
      } else { }
      // pc端-二维码
      $('#pc-qrcode').qrcode({
        correctLevel: 1,
        text: "https://google.com"
      });
      // 移动端-背景轮播
      var bgSwiper = new Swiper('#mobile-bg-swiper', {
        loop: true,
        effect: 'fade',
        autoplay: {
          delay: 7500,
          stopOnLastSlide: true,
          disableOnInteraction: false,
        },
      });
      // 移动端-打开下载说明文档
      $(".ios-btn").click(function () {
        $('.mobile-download').fadeIn();
      })
      // 移动端-返回按钮
      $(".mobile-download-back").click(function () {
        $('.mobile-download').fadeOut();
      })
      // 移动端-ios下载地址
      $(".mobile-download-btn").click(function () {

      })
    });
  </script>
</body>

</html>